@font-face {
    font-family: "Untitled";
    src: url("../fonts/Untitled.ttf");
}

@font-face {
    font-family: "Untitled_Bold";
    src: url("../fonts/Untitled_Bold.ttf");
}

* {}

body {
}

.intro {
    /* padding-left: 3rem;
    padding-right: 3rem; */
    color: #424242;
    max-width: 100%;
}

.title {
    font-family: "Untitled_Bold";
    padding: 0px 20px 0px 20px;
    line-height: 1.5;
    font-size: 18px;
}

.subtitle {
    font-family: "Untitled";
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5;
    font-size: 18px;
}

a.two {
    color : #f44336;
    text-decoration: none;
    cursor: url("../images/pencil.png"), pointer;
}

a {
    color : #f44336;
    text-decoration: none;
    cursor: pointer;
}
